<div class="welcomehome">
    <h1>WELCOME📚</h1>
</div>
<body>
    <main>
      <h1 class="iam">
        About the Project
      </h1>
  
      <p class="intro">
        Bookstore is an open, editable library catalog, building towards a web page for every Best Selling Books ever published.
      </p>
  
      <p class="phome">
        <button class="homebutton" onclick="location.href = '/books/list'" > Check the Catalog </button>
      </p>
    </main>
  </body>


  